[Desktop Entry]
Name=Domain Blocker
Name[af]=Domein Blokker
Name[am]=ግዛት ከልካይ
Name[ar]=حاجب النطاقات
Name[as]=ড'মেইন ব্লকাৰ
Name[ast]=Torgador de dominiu
Name[be]=Блакавальнік даменаў
Name[be@latin]=Блакавальнік даменаў
Name[bg]=Приложение за блокиране на домейни
Name[bn]=ডোমেইন ব্লকার
Name[bn_IN]=ডোমেইন ব্লকার
Name[bs]=Blokiranje domena
Name[ca]=Bloquejador de dominis
Name[ca@valencia]=Bloquejador de dominis
Name[cs]=Blokování domén
Name[csb]=Blokòwanié domenów
Name[cy]=Rhwystro Parth
Name[da]=Domæneblokering
Name[de]=Internetadresse sperren
Name[el]=Μπλοκάρισμα Τομέα
Name[eo]=Retregionblokilo
Name[es]=Bloqueador de dominios
Name[es_AR]=Bloqueador de dominios
Name[et]=Domeeni blokeerija
Name[eu]=Domeinu Blokeatzailea
Name[fa]=مسدود کننده دامنه
Name[fi]=Verkkoaluesuodatin
Name[fo]=Økis blokkari
Name[fr]=Bloqueur de domaine
Name[fr_CA]=Bloqueur de domaine
Name[ga]=Bacaire Fearainn
Name[gd]=Blocaiche àrainn-lìn
Name[gl]=Bloqueador de dominios
Name[gv]=Cur lhiettrimys er staydyn
Name[he]=חוסם מתחם
Name[hi]=डोमेन ब्लॉकर
Name[hr]=Blokator domena
Name[hu]=Weboldalblokkoló
Name[hy]=Դոմենի արգելում
Name[id]=Pemblok Domain
Name[is]=Lénalás
Name[it]=Blocco domini
Name[ja]=ドメインブロッカー
Name[jv]=Pengeblok Domain
Name[ka]=დომენის ბლოკერი
Name[kk]=Домендер бөгеттеуші
Name[kn]=ಡೊಮೈನ್ ನಿರ್ಬಂಧಕ
Name[ko]=도메인 차단기
Name[ksw]=t'raw hka domain
Name[ky]=Домен бөгөттөгүч
Name[la]=Claudor dominiōrum
Name[lb]=Domän Blocker
Name[lo]=ຕົວບຣອກໂດເມນ
Name[lt]=Interneto sričių (domenų) blokiklis
Name[lv]=Domēnu Bloķētājs
Name[mg]=Mpisakana anaram-bala
Name[mhr]=Домен-влакым тӱкылтыш
Name[mk]=Домен блокер
Name[ml]=ഡൊമൈൻ ബ്ലോക്കർ
Name[mr]=डोमेन अवरोधक
Name[ms]=Penghalang domain
Name[nb]=Domene-blokkerer
Name[ne]=डोमेन अवरोधक
Name[nl]=Domeinblokkeerder
Name[nn]=Domeneblokkerar
Name[oc]=Blocador de Domeni
Name[om]=saamsaa qayee
Name[pa]=ਡੋਮੇਨ ਬਲੋਕਰ
Name[pl]=Blokowanie domen
Name[pt]=Bloqueador de domínios
Name[pt_BR]=Bloqueador de domínios
Name[pt_PT]=Bloqueador de domínios
Name[ro]=Blocare domenii
Name[ru]=Блокировщик доменов
Name[rue]=Блокатор доменів
Name[si]=අඩවි අවහිර කිරීම
Name[sk]=Blokovanie Domén
Name[sl]=Blokirnik domen
Name[so]=Dhomeyn Xire
Name[sq]=Bllokues i Domeineve
Name[sr]=Блокирање домена
Name[sr@ijekavianlatin]=Блокирање домена
Name[sr@latin]=Blokiranje domena
Name[sv]=Domänblockerare
Name[ta]=களத் தடுப்பான்
Name[te]=డొమైన్ నిషేధం
Name[tg]=Манъкунандаи доменҳо
Name[th]=โปรแกรมบล็อกโดเมน
Name[tl]=Tagaharang ng Domain
Name[tr]=Alan Adı Engelleyici
Name[uk]=Блокувальник доменів
Name[ur]=ڈومین بلاکر
Name[vi]=Trình Chặn Tên miền
Name[zh_CN]=域名拦截工具
Name[zh_HK]=網域封鎖器
Name[zh_TW]=網域封鎖工具
Comment=Block access to selected domain names
Comment[af]=Blok toegang na sekere domeinname
Comment[am]=የተወሰኑ ግዛቶችን ስም መከልከል
Comment[ar]=منع الوصول الى أسماء نطاقات معينة
Comment[as]=বাচনি কৰা ড'মেইন নামসমূহ ব্লক কৰক
Comment[ast]=Torgar accesu a dominios esbillaos
Comment[be]=Блакаванне доступу да абраных даменаў
Comment[be@latin]=Блакаванне доступу да абраных даменаў
Comment[bg]=Спиране на достъпа до избраните имена на домейни
Comment[bn]=নির্দিষ্ট কিছু ডোমেইনে প্রবেশে বাঁধা
Comment[bn_IN]=নির্দিষ্ট কিছু ডোমেইনে প্রবেশে বাঁধা
Comment[bs]=Blokiraj pristup označenim nazivima domena
Comment[ca]=Bloquejar l'accés als noms de domini seleccionats
Comment[ca@valencia]=Bloquejar l'accés als noms de domini seleccionats
Comment[cs]=Blokovat přístup k vybraným doménám
Comment[csb]=Blokùjë przëstãp do wëbrónych domenów
Comment[cy]=Rhwystro mynediad i'r enwau parth sy wedi'i dewis
Comment[da]=Blokér adgang til valgte domæner
Comment[de]=Zugang zu ausgewählten Internetadressen sperren
Comment[el]=Εμποδίστε την πρόσβαση σε επιλεγμένα ονόματα τομέων
Comment[eo]=Bloki atingon al elektata retregionnomoj
Comment[es]=Bloquear acceso a los dominios seleccionados
Comment[es_AR]=Bloquear acceso a los dominios seleccionados
Comment[et]=Blokeeri juurdepääs valitud domeeninimedele
Comment[eu]=Hautatutako domeinuak blokeatu
Comment[fa]=مسدود کردن دسترسی به دامنه‌های انتخابی
Comment[fi]=Estä pääsy valituille verkkosivuille
Comment[fo]=Blokka atgongd til úrvald økisnøvn
Comment[fr]=Bloquer l'accès à certains noms de domaine
Comment[fr_CA]=Bloquer l'accès aux noms de domaine sélectionnés
Comment[ga]=Blocáil rochtain go hainmneacha fearainn a roghnaíodh
Comment[gd]=Cuir bloc air ruigsinneachd gu ainmean àrainn-lìn taghte
Comment[gl]=Bloquear o acceso aos dominios seleccionados
Comment[gv]=Ny jean lhiggey entreilys dys staydyn reih't
Comment[he]=חסימת גישה לשמות מתחם נבחרים
Comment[hi]=चयनित डोमेन नेम को ब्लॉक करें
Comment[hr]=Blokiraj pristup odabranim domenama
Comment[hu]=Nem kívánt weboldalak elérésének blokkolása
Comment[hy]=Արգելել ընտրված դոմենները
Comment[id]=Blok akses terhadap nama-nama domain yang dipilih
Comment[is]=Hindra aðgang að völdum lénum
Comment[it]=Blocca accesso a nomi di dominio selezionati
Comment[ja]=選択したドメイン名へのアクセスをブロック
Comment[jv]=Ngeblok akses reng jengen domain sing dipilehi
Comment[ka]=აკრძალე წვდომა არჩეულ დომენებზე
Comment[kk]=Таңдалған домендерге жетімдігін бөгеттеу
Comment[kn]=ಆಯ್ಕೆ ಮಾಡಿದ ಡೊಮೈನ್ ಹೆಸರುಗಳಿಗೆ ಆಕ್ಸೆಸ್ ನಿರ್ಬಂಧಿಸು
Comment[ko]=선택된 도메인으로의 접근을 차단합니다
Comment[ksw]=p'tu ta nu law ler ta ku ter domain mi
Comment[ky]=Тандалган домен аттарына кирүүнү бөгөттөө
Comment[la]=Claudere reticula et dominia
Comment[lb]=Blockeier den Accès op ausgewielten Domän Nimm
Comment[lo]=ຫາ້ມເຂົ້າເຖີງໂດເມນທີ່ເລີອກໄວ້
Comment[lt]=Drausti priėjimą prie pasirinktų interneto sričių (domenų)
Comment[lv]=Bloķēt pieeju izvēlētiem domēniem
Comment[mg]=Sakano ny fifandraisana amin'ireo anaram-bala nosafidiana
Comment[mhr]=Ойырме домен-влакым тӱклаш
Comment[mk]=Блокирај пристап до одбраните домени
Comment[ml]=തിരഞ്ഞെടുക്കുന്ന ഡൊമൈൻ നാമങ്ങളിലേക്കുള്ള പ്രവേശനം തടയുക
Comment[mr]=निवडक डोमेन वरील प्रवेश अवरुद्ध करा
Comment[ms]=Halang laluan kepada nama domain yang dipilih
Comment[nb]=Blokker tilgangen til valgte domenenavn
Comment[nds]=Blockiere Zugang zu ausgewählten Domainnamen
Comment[ne]=चुनिएका डोमेनहरु हेर्नबाट रोक्नुहोस
Comment[nl]=Blokkeer toegang tot geselecteerde domeinnamen
Comment[nn]=Blokkerer tilgangen til dei valde domenenamna
Comment[oc]=Blocar l'accès a d'unes noms de domenis
Comment[om]=Gahiinsa gara maqalee qayee filatamanii saamsi
Comment[pa]=ਚੁਣੇ ਡੋਮੇਨ ਨਾਂ ਲਈ ਵਰਤੋਂ ਪਾਬੰਦੀ ਲਗਾਉ
Comment[pl]=Blokuj dostęp do wybranych domen
Comment[pt]=Bloquear acesso aos domínios selecionados
Comment[pt_BR]=Bloquear acesso aos domínios selecionados
Comment[pt_PT]=Bloquear acesso aos domínios selecionados
Comment[ro]=Blochează accesul la domeniile selectate
Comment[ru]=Блокирование доступа к выбранным доменам
Comment[rue]=Блоковати  доступ до убратих доменів
Comment[si]=තෝ‍රාගත් අඩවි අවහිර කිරීම
Comment[sk]=Blokovať prístup k vybraným názvom domén
Comment[sl]=Blokira dostop do izbranih imen domen
Comment[so]=Xir helida dhamaan dhomenyada la doortay
Comment[sq]=Blloko hyrjen në erma të zgjedhur domeinesh
Comment[sr]=Блокирај приступ изабраним доменима
Comment[sr@ijekavianlatin]=Блокирај приступ изабраним доменима
Comment[sr@latin]=Blokirati pristup izabranim domenama
Comment[sv]=Blockera åtkomst till valda domännamn
Comment[ta]=தேர்ந்தெடுக்கப்பட்ட களப் பெயர்களுக்கு அணுகலைத் தடு
Comment[te]=దిగువ పేర్కొన్న డొమైన్ పేరులను నిరోధించు
Comment[tg]=Манъ кардани дастрасӣ ба доменҳои интихобшуда
Comment[th]=บล็อกการเข้าถึงชื่อโดเมนที่เลือก
Comment[tl]=Tanggalin ang access sa mga piniling domain names
Comment[tr]=Seçilen alan adlarına erişimi engelle
Comment[uk]=Блокувати доступ до обраних доменів
Comment[ur]=منتخب شدہ ڈومین ناموں تک رسائی مسدود
Comment[vi]=Ngăn chặn truy cập những tên miền đã chọn
Comment[zh_CN]=拦截对选中域名的访问
Comment[zh_HK]=禁止前往指定的域名
Comment[zh_TW]=禁止存取指定網域名稱
Exec=mintnanny
Icon=/usr/lib/linuxmint/mintNanny/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
NotShowIn=KDE;
