[Desktop Entry]
Name=Domain Blocker
Name[csb]=Blokòwanié domenów
Name[fr]=Bloqueur de domaine
Name[cs]=Blokování domén
Name[pt]=Bloqueador de Domínios
Name[fo]=Økis blokkari
Name[nb]=Domene-blokker
Name[ar]=حاجب النطاقات
Name[ro]=Blocheaza domenii
Name[ast]=Torgador de dominiu
Name[gl]=Bloqueador de dominios
Name[ja]=ドメインブロッカー
Name[he]=חוסם מתחם
Name[sr]=Блокирање Домена
Name[pl]=Blokowanie domen
Name[lt]=Sritities (domain) Blokatorius
Name[ru]=Блокировщик доменов
Name[hu]=Domain blokkoló
Name[fi]=Verkkoalue estäjä
Name[de]=Internetadresse sperren
Name[el]=Μπλοκάρισμα Τομέα
Name[zh_CN]=域名拦截工具
Name[en_GB]=Domain Blocker
Name[am]=ግዛት ከልካይ
Name[zh_HK]=Domain Blocker
Name[es]=Bloqueador de dominio
Name[tr]=Alan Adı Bloklayıcı
Name[bg]=Приложение за блокиране на домейни
Name[ko]=도메인 차단기
Name[nl]=Domeinblokkeerder
Name[et]=Domeeni blokeerija
Name[sk]=Blokátor Domén
Name[pt_BR]=Bloqueador de domínio
Name[is]=Lénalás
Name[sv]=Domänblockerare
Name[sq]=Bllokues i Domeineve
Name[it]=Blocco domini
Name[hr]=Bloker domena
Name[uk]=Блокування доменів
Name[da]=Domæneblokering
Comment=Block access to selected domain names
Comment[csb]=Blokùjë przëstãp do wëbrónych domenów
Comment[fr]=Bloquer l'accès à certains noms de domaine
Comment[cs]=Blokovat přístup k vybraným názvům domén
Comment[pt]=Bloquear acesso aos domínios seleccionados
Comment[fo]=Blokka atgongd til úrvald økisnøvn
Comment[nb]=Blokker tilgangen til valgte domenenavn
Comment[ar]=منع الوصول الى اختيار أسماء النطاقات
Comment[ro]=Blochează accesul la următoarele nume de domenii
Comment[ast]=Torgar accesu a dominios esbillaos
Comment[gl]=Bloquear o acceso aos dominios seleccionados
Comment[ja]=選択したドメイン名をブロック
Comment[he]=חסימת גישה לשמות מתחם נבחרים
Comment[sr]=Забранити улаз на изабране домене
Comment[pl]=Blouj dostęp do wybranych domen
Comment[lt]=Drausti priėjimą prie pasirinktų sričių
Comment[ru]=Блокирование доступа к выбранным доменам
Comment[hu]=Nem kívánt weboldalak elérésének tiltása
Comment[fi]=Estä pääsy valituille verkkosivuille
Comment[de]=Zugang zu ausgewählten Internetadressen sperren
Comment[el]=Εμποδίστε την πρόσβαση σε επιλεγμένα ονόματα τομέων
Comment[zh_CN]=拦截对选中域名的访问
Comment[en_GB]=Block access to selected domain names
Comment[am]=የተወሰኑ ግዛቶችን ስም መከልከል
Comment[zh_HK]=Block access to selected domain names
Comment[es]=Bloquear acceso a dominios seleccionados
Comment[tr]=Seçili alan adlarına erişimi engelle
Comment[bg]=Спиране на достъпа до избраните имена на домейни
Comment[ko]=선택된 도메인에 대한 접근을 차단합니다.
Comment[nl]=Blokkeer toegang tot geselecteerde domein namen
Comment[et]=Blokeeri juurdepääs valitud domeeninimedele
Comment[sk]=Blokovať prístup k vybraným názvom domén
Comment[pt_BR]=Bloquear acesso aos domínios selecionados
Comment[is]=Hindra aðgang að völdum lénum
Comment[sv]=Blockera åtkomst till markerade domännamn
Comment[sq]=Blloko hyrjen në erma të zgjedhur domeinesh
Comment[it]=Blocca l'accesso a determinati nomi di dominio
Comment[hr]=Blokira pristup odabranim domenama
Comment[uk]=Блокувати доступ до обраних доменів
Comment[da]=Bloker adgang til valgte domæner
Exec=mintnanny
Icon=/usr/lib/linuxmint/mintNanny/icon.svg
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;Settings;
StartupNotify=false
