<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>

  <vendor>Linux Mint</vendor>
  <vendor_url>https://linuxmint.com/</vendor_url>

  <action id="com.linuxmint.mintnanny">
    <icon_name>mintnanny</icon_name>
<message>Domain Blocker</message>
<message xml:lang="af">Domein Blokker</message>
<message xml:lang="am">ግዛት ከልካይ</message>
<message xml:lang="ar">مانع النطاق</message>
<message xml:lang="as">ড'মেইন ব্লকাৰ</message>
<message xml:lang="ast">Torgador de dominiu</message>
<message xml:lang="az">Domen Әngәllәyici</message>
<message xml:lang="be">Блакавальнік даменаў</message>
<message xml:lang="bg">Приложение за блокиране на домейни</message>
<message xml:lang="bn">ডোমেইন ব্লকার</message>
<message xml:lang="bs">Blokiranje domena</message>
<message xml:lang="ca">Bloquejador de dominis</message>
<message xml:lang="ca@valencia">Bloquejador de dominis</message>
<message xml:lang="cs">Blokování domén</message>
<message xml:lang="csb">Blokòwanié domenów</message>
<message xml:lang="cy">Rhwystro Parth</message>
<message xml:lang="da">Domæneblokering</message>
<message xml:lang="de">Domänensperre</message>
<message xml:lang="el">Μπλοκάρισμα Τομέα</message>
<message xml:lang="eo">Retregionblokilo</message>
<message xml:lang="es">Bloqueador de dominios</message>
<message xml:lang="et">Domeenide blokeerija</message>
<message xml:lang="eu">Domeinu Blokeatzailea</message>
<message xml:lang="fa">مسدود کننده دامنه</message>
<message xml:lang="fi">Verkkoaluesuodatin</message>
<message xml:lang="fil">Ang pagba-block ng Domain</message>
<message xml:lang="fo">Økis blokkari</message>
<message xml:lang="fr">Bloqueur de domaine</message>
<message xml:lang="fr_CA">Bloqueur de domaine</message>
<message xml:lang="frp">Embarrar un nom de domêno</message>
<message xml:lang="fy">Domein Blokkearder</message>
<message xml:lang="ga">Bacaire Fearainn</message>
<message xml:lang="gd">Blocaiche àrainnean-lìn</message>
<message xml:lang="gl">Bloqueador de dominios</message>
<message xml:lang="gv">Cur lhiettrimys er staydyn</message>
<message xml:lang="he">חוסם מתחם</message>
<message xml:lang="hi">डोमेन अवरोधक</message>
<message xml:lang="hr">Blokator domena</message>
<message xml:lang="hu">Weboldalblokkoló</message>
<message xml:lang="hy">Դոմենի արգելում</message>
<message xml:lang="ia">Blocator de dominio</message>
<message xml:lang="id">Pemblok Domain</message>
<message xml:lang="is">Lénalás</message>
<message xml:lang="it">Blocco domini</message>
<message xml:lang="ja">ドメインブロッカー</message>
<message xml:lang="jv">Pengeblok Domain</message>
<message xml:lang="ka">დომენის ბლოკერი</message>
<message xml:lang="kab">Amsewḥal n taɣult</message>
<message xml:lang="kk">Домендер бөгеттеуші</message>
<message xml:lang="kn">ಡೊಮೈನ್ ನಿರ್ಬಂಧಕ</message>
<message xml:lang="ko">도메인 차단기</message>
<message xml:lang="ksw">t'raw hka domain</message>
<message xml:lang="ku">Qad Astengker</message>
<message xml:lang="ky">Домен бөгөттөгүч</message>
<message xml:lang="la">Claudor dominiōrum</message>
<message xml:lang="lb">Domän Blocker</message>
<message xml:lang="lo">ຕົວບຣອກໂດເມນ</message>
<message xml:lang="lt">Interneto sričių (domenų) blokavimo programa</message>
<message xml:lang="lv">Domēnu bloķētājs</message>
<message xml:lang="mg">Mpisakana anaram-bala</message>
<message xml:lang="mhr">Домен-влакым тӱкылтыш</message>
<message xml:lang="mk">Домен блокер</message>
<message xml:lang="ml">ഡൊമൈൻ ബ്ലോക്കർ</message>
<message xml:lang="mr">डोमेन अवरोधक</message>
<message xml:lang="ms">Penghalang domain</message>
<message xml:lang="my">နယ်ပယ် တားမြစ်သူ</message>
<message xml:lang="nap">Blocco domini</message>
<message xml:lang="nb">Domene-blokkerer</message>
<message xml:lang="ne">डोमेन अवरोधक</message>
<message xml:lang="nl">Domeinblokkeerder</message>
<message xml:lang="nn">Domeneblokkerar</message>
<message xml:lang="oc">Blocador de Domeni</message>
<message xml:lang="om">saamsaa qayee</message>
<message xml:lang="pa">ਡੋਮੇਨ ਬਲੋਕਰ</message>
<message xml:lang="pap">Blòkiado di domein</message>
<message xml:lang="pl">Blokowanie domen</message>
<message xml:lang="pt">Bloqueador de domínios</message>
<message xml:lang="pt_BR">Bloqueador de domínios (controle dos pais)</message>
<message xml:lang="pt_PT">Bloqueador de domínios</message>
<message xml:lang="ro">Blocare domenii</message>
<message xml:lang="ru">Блокировщик доменов</message>
<message xml:lang="rue">Блокатор доменів</message>
<message xml:lang="sco">Domaine Blocker</message>
<message xml:lang="si">අඩවි අවහිර කිරීම</message>
<message xml:lang="sk">Blokovanie Domén</message>
<message xml:lang="sl">Blokirnik domen</message>
<message xml:lang="so">Dhomeyn Xire</message>
<message xml:lang="sq">Bllokues i Domeineve</message>
<message xml:lang="sr">Блокирање домена</message>
<message xml:lang="sr@latin">Blokiranje domena</message>
<message xml:lang="sv">Domänblockerare</message>
<message xml:lang="ta">களத் தடுப்பான்</message>
<message xml:lang="te">డొమైన్ నిషేధం</message>
<message xml:lang="tg">Манъкунандаи доменҳо</message>
<message xml:lang="th">โปรแกรมบล็อกโดเมน</message>
<message xml:lang="tl">Tagaharang ng Domain</message>
<message xml:lang="tr">Alan Adı Engelleyici</message>
<message xml:lang="uk">Блокувальник доменів</message>
<message xml:lang="ur">ڈومین بلاکر</message>
<message xml:lang="uz">Доменни тўсгич</message>
<message xml:lang="vi">Trình Chặn Tên miền</message>
<message xml:lang="zh_CN">域名拦截</message>
<message xml:lang="zh_HK">網域封鎖器</message>
<message xml:lang="zh_TW">網域封鎖器</message>

    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin_keep</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/bin/mintnanny</annotate>
    <annotate key="org.freedesktop.policykit.exec.allow_gui">true</annotate>
  </action>

</policyconfig>
